<div class="container6">
    <br><br><h1>Dellaware Technology Employees</h1>
    <br><br>
    <h2><mat-icon>account_circle</mat-icon>Aathi Shree</h2>
    <h3>1300842</h3>
    <h3>Associate-Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Abilash</h2>
    <h3>1300432</h3>
    <h3>Technical Support Executive,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Anusha Sharma</h2>
    <h3>1300685</h3>
    <h3>Test Lead,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Ajesh Kumar</h2>
    <h3>1400333</h3>
    <h3>Software Developer-Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Aathi Shree</h2>
    <h3>1500213</h3>
    <h3>Head-Academic Excellence,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Binesh Shaji</h2>
    <h3>1004213</h3>
    <h3>Project Manager,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Birav Raj</h2>
    <h3>1300322</h3>
    <h3>UI/UX Designer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Bindhu</h2>
    <h3>1009012</h3>
    <h3>Senior Product Manager,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Ceathal shiny</h2>
    <h3>1400654</h3>
    <h3>Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Damu Singh</h2>
    <h3>1007892</h3>
    <h3>Associate-Business Analyst,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Desika Shree</h2>
    <h3>1200651</h3>
    <h3>Associate Software Developer</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Ezhil Mozhi</h2>
    <h3>1300429</h3>
    <h3>Software Test Engineer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Faiz Franky</h2>
    <h3>1300329</h3>
    <h3>AVP-Sales,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Gowri Sankar</h2>
    <h3>1003298</h3>
    <h3>Senior-Business Analyst,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Geetha</h2>
    <h3>1300420</h3>
    <h3>Manager-HR,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Hariz Jhon Pal</h2>
    <h3>1300528</h3>
    <h3>Server Support Engineer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Harini Joesh</h2>
    <h3>1009543</h3>
    <h3>Lead-Product Designer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Irai Anbu</h2>
    <h3>1300232</h3>
    <h3>Senior HR Executive,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Isai Vani</h2>
    <h3>1348900</h3>
    <h3>Lead-UI/UX Designer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Jasnavi</h2>
    <h3>1300099</h3>
    <h3>Specialist-Digital Marketing,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Jessy Joseph</h2>
    <h3>1332008</h3>
    <h3>Technical Support Executive,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Kowsik Raj</h2>
    <h3>1200678</h3>
    <h3>Program Manager,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Keerthu Sai</h2>
    <h3>1300668</h3>
    <h3>Pratical Head-Enterprise,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Leno Alex</h2>
    <h3>1200986</h3>
    <h3>IT Recuiter-Staffing,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Mathu Shree</h2>
    <h3>1009823</h3>
    <h3>Senior Consultant-Information,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Maxi Sai</h2>
    <h3>1300420</h3>
    <h3>System Admin,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Mani Kandan</h2>
    <h3>1100329</h3>
    <h3>Sr Business Development Executive,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Marvel Sheeju</h2>
    <h3>1356900</h3>
    <h3>Data Analyst,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Nidin Jhon</h2>
    <h3>1900214</h3>
    <h3>Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Neenu Josh</h2>
    <h3>1009086</h3>
    <h3>General Manager-Technical Support,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Nivin Paul</h2>
    <h3>1200890</h3>
    <h3>Trainee-Test Engineer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Neethu Raju</h2>
    <h3>1300429</h3>
    <h3>Associate Business-Analyst,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Ombli Raj</h2>
    <h3>1009754</h3>
    <h3>Senior Paid Media Specialist,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Oju Kutty</h2>
    <h3>1006231</h3>
    <h3>Lead UI/UX Designer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Parveen Banu</h2>
    <h3>1003267</h3>
    <h3>Associate Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Prakash Babu</h2>
    <h3>1300433</h3>
    <h3>Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Praneeth Kumar</h2>
    <h3>1220034</h3>
    <h3>Project Manager,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Pooja Kumari</h2>
    <h3>1322001</h3>
    <h3>Associate Business-Analyst,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Prabu Deva</h2>
    <h3>1300429</h3>
    <h3>Director CEO,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Ram Charan</h2>
    <h3>1300428</h3>
    <h3>Software Developer,Dellaware</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Thiyagu Sai</h2>
    <h3>1300426</h3>
    <h3>Associate Software Developer</h3>
    <br>
    <h2><mat-icon>account_circle</mat-icon>Tinku Suji</h2>
    <h3>1300423</h3>
    <h3>Associate Software Developer</h3>
    <br>


    

</div>
<div>
    <a [routerLink]="'/home'" ><button mat-raised-button>BACK</button></a>
</div>
