<div style="height:1450px;background-color: rgb(243, 177, 155);" class="container4">
    <br><img style="height:475px;width:780px;margin-left: 280px;" src="https://c8.alamy.com/comp/EGA0M5/friday-in-the-office-EGA0M5.jpg"><br><br><br>
   <br> <h1 style="text-align: center;font-family:'Times New Roman', Times, serif;font-weight: bold;font-size: 35px;">For This Year 2022</h1><br><br>
   <a [routerLink]="'/home'" ><button mat-raised-button>BACK</button></a>
    <div style="margin-left: -100px;"class="container5">
    <table><br>
        <tr>
        <th>HOLIDAYS</th>
        <th>DATE</th>
    </tr><br>
    <tr>
        <td>New Year Day</td>
        <td>01 JAN , 2022</td>
        </tr>
        <tr>
        <td>Makar Sankranthi/Pongal</td>
        <td>14 Jan, 2022</td>
    </tr>
    <tr>
        <td>Republic Day</td>
        <td>26 Jan, 2022</td>
    </tr>
    <tr>
        <td>Tamil New Year's Day</td>
        <td>14 April, 2022</td>
    </tr>
    <tr>
        <td>Good Friday</td>
        <td>15 April, 2022</td>
    </tr>
    <tr>
        <td>May Day</td>
        <td>01 May, 2022</td>
    </tr>
    <tr>
        <td>Ramzan/Idu'l Fitr</td>
        <td>03  May, 2022</td>
    </tr>
    <tr>
        <td>Independence Day</td>
        <td>15 Aug, 2022</td>
    </tr>
    <tr>
        <td>Ganesh Chathurthi</td>
        <td>31 Aug, 2022</td>
    </tr>
    <tr>
        <td>Gandhi Jayanthi</td>
        <td>02 Oct, 2022</td>
    </tr>
    <tr>
        <td>Vijayadasmi/Ayudha Puja/SaraswathiPooja</td>
        <td>05 Oct, 2022</td>
    </tr>
    <tr>
        <td>Deepavali</td>
        <td>24 Oct,2022</td>
    </tr>
    <tr>
        <td>Christmas Day</td>
        <td>25 Dec, 2022</td>
    </tr>
   </table>
</div>

</div><br>
