<div style="width: 1120px;text-align: center;margin-left: 110px;" class="container3"><br><br>
  <div class="trending">
    <div id="trendingslide">
      <img class="one" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW1wbG95ZWV8ZW58MHx8MHx8&w=1000&q=80" width="100%" /> 
      <img class="two" src="https://c8.alamy.com/comp/2BW9K71/compliance-rule-law-and-regulation-graphic-interface-for-business-quality-policy-planning-to-meet-international-standard-2BW9K71.jpg" />
      <img class="three" src="https://static1.bigstockphoto.com/6/7/2/large1500/276542296.jpg"/>
    </div>
  </div><br><br>
      <h1>1. Employment contract</h1>
        <p>In India, it is crucial to file proper documentation of the employees that work in the company. The employee contract acts as the umbrella covering a list of HR policies and agreements.
        
        As per India’s employment laws, it is essential to file proper documentation of the employees to ensure appropriate navigation through the complex and diverse employment framework.
        
        Therefore, having accurate and updated documents that prove the employee’s compliance to the company will help in the long term and save them from any legal hassles later. Therefore, you need to follow the labour and wage laws while processing documentation.</p><br>
        
        <h1>2. Employee wages</h1>
        <p>Employee payroll is one of the significant aspects of employee management. The job of the HR department of the company is to manage the employee payroll effectively. This includes offering competitive salaries to employees and staying in compliance with the government policies.
        
        Various acts passed by the government cover the employee wages. The most prominent among being The Minimum Wage Act, 1948. This act sets a particular wage as the minimum wage for skilled as well as unskilled workers. The act mandates that the employees earn the ‘Basic’ salary to meet their living expenses.
        
        Further, The Payment of Wages Act, 1936 states that an employee should receive their rightful monthly salary payment on the agreed-upon date without any unwanted deductions. Therefore, companies need to follow the laws to remain compliant while being competitive. This is one of the most critical points in the list of HR policies in India.</p><br>
        
        <h1>3. Code of Conduct</h1>
        <p>The Code of Conduct is the company’s policies, consisting of its vision, mission, and ethics. This is created to inform employees about the policies of the behaviour and maintain discipline while at the workplace.
        
        The code of conduct is among the types of HR policies containing the company’s rules that employees need to adhere to. The policy includes dress code, equal rights to all, electronic usage policy, conflict of interest, media policy, proper work environment etc. It also contains the rules and penalties if an employee breaches or violates the code of conduct.</p><br>
        
        <h1>4. Leave policy</h1>
        <p>As per requirement, every company should have a good leave policy to provide a clear picture of the leaves they would be entitled to take in a year. The policy should include a proper bifurcation of the leaves into paid leaves, sick leaves or casual leaves etc. It must also mention public holidays.
        
        HR policies in India 2020 should also provide provision for unpaid leaves along with detailed rules on the salary cut on late arrivals and half days. According to The Factories Act, 1948, employees are entitled to get paid holidays every week as well as get paid for any extra work they did beyond their work hours.</p><br>
        
        <h1>5. Employee provident fund</h1>
        <p>Every employer is liable to set up an employees provident fund account for each of its employees. The Employees Provident Fund Act, 1947 provides income security to the employees after their retirement. This is more like a security fund offering various benefits for employees, such as housing care, medical insurance and retirement pension.
        
        It is important to note that companies exceeding 10 employees must provide provident fund benefits to their employees. Therefore, if you have more than 10 employees, then you are liable to have a provident fund scheme for your employees.<br>
        
        <h1>6. Gratuity Policy</h1>
        <p>The gratuity policy is a way for companies to appreciate the services provided by their employees towards the company. The gratuity policy applies to all employees who have provided more than 5 years of continuous service to the organisation.
        
        The company is liable to pay a one-time payment as gratuity payout to employees who are either being laid off or resigning, but have provided 5 years or more of continuous service. This is vital to keeping employees happy and engaged. Moreover, companies are legally bound, as per The Payment of Gratuity Act, 1972, to pay gratuity to their employees.</p><br>
        
        <h1>7. Paternity and maternity leave policy</h1>
        <p>Every company with more than 10 employees is required by law to provide maternity leave benefits to women employees as per The Maternity Benefits (Amendment) Act, 2017. Any woman who has worked with the company for 80 days is entitled to receive the benefits.
        
        According to the act, a pregnant working woman is eligible to get a minimum of 26 weeks of paid leave for the first 2 children and a subsequent 12 weeks of unpaid leave.
        As of now, there is no law on paternity bills for private company employees. The central government employees are entitled to get paternity leave of 15 days to take care of their wife and surviving child. There is a proposed paternity benefits bill, 2017, which is still pending government authorisation.</p><br>
        
        <h1>8. Sexual harassment workplace policy</h1>
        <p>A company is required to take or implement decisive rules, human resource policies and regulations to create a safe work ecosystem for women at the workplace. This is not just required by law, but it should be a moral necessity for the company.
        
        According to The Sexual Harassment Act, 2013, the company must implement proper steps to protect women employees and interns as well as any woman who visits the company. Moreover, every company should have a sound sexual harassment policy to address harassment complaints by women employees actively.
        
        This includes setting up an Internal Complaints Committee in every company crossing the 10-employee mark to look into the sexual harassment complaints by women at the workplace.</p><br>
        
        <h1>9. Adaptive work culture policy</h1>
        <p>The past year has seen a paradigm shift in various companies’ work culture. The pandemic has forced many of them to ask their employees to work from home. This has given rise to the need for an adaptive work culture policy to provide greater flexibility to employees to choose their work location or workplace.
        
        The adaptive work culture policy should contain proper rules and structures to manage employees working remotely or working from home. This will create a framework or guidelines for employees to follow when working from different locations.</p><br>
    
        <h1>10. Employment Termination policy</h1>
       <p>Every employer has to face it. Some of your employees may plan to move ahead at some point in their careers. You may also feel that an employee no more fits into your larger scheme of things. These moments are emotional for the employee as well as the employer.
        
        Therefore, the employer needs to ensure that they implement a proper leave policy that lays down the steps for an employee who wishes to leave the company.
        
        This will help the HR team follow the correct procedures as per the labour laws to terminate an employee or process the employee’s resignation request.
        
        HR policies are an essential framework that every company needs to ensure smooth functioning. These policies are the guiding factor that tells the company and the employees how to work and conduct themselves to ensure a safe and secure working environment for all.</p>
<br><a [routerLink]="'/home'" ><button mat-raised-button>BACK</button></a>
</div>