<br><br><br>
<h1 style="font-family: 'Times New Roman', Times, serif;text-align:center;font-weight:  bold;font-size: 40px;word-spacing: 8px;">TIPS FOR YOU</h1><br><br><br><br>
<div style="margin-left: 100px;height:1200px;width: 1100px;"class="container7">
 <form style="background-color: rgb(53, 51, 51);color: white;width:300px;height:100px"><br>
        <mat-form-field style="margin-left: 40px;" appearance="outline">
          <mat-label>Enter your Activity List</mat-label>
          <input  formControlName="item" matInput placeholder="Enter Your Status">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
         
        </mat-form-field>
</form>
<p style="float: right;margin-top: -60px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
    -------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here ,Type Your Task That You Want To Do For The Day!!!
</p>
<br><br><br><br><br><button style="font-size: 20px;font-family: 'Times New Roman', Times, serif;margin-left: 120px;"mat-raised-button >ADD</button>
<p style="float: right;margin-top: 10px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
   --------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click Add Button to Add Your Task In To Do List Box!!!
</p><br><br><br><br><br><br>
<img style="width:60px;height:80px;margin-left: 120px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFMT3l2oCWVp9jWMoyKJvFVTz0PA3coeyVVw&usqp=CAU">
<p style="float: right;margin-top: 30px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
    --------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click Delete Button to Delete Your Task In To Do List Box!!!
 </p>
<br><br><br><br><br><br>
<img  style="width:80px;height:80px;margin-left: 110px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmknyP2AUUvinJUlIk5t7kQT8-0xj1zp9Vrw&usqp=CAU">
<p style="float: right;margin-top: 30px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
    --------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click Edit Button to Edit Your Task In To Do List Box!!!!
 </p>
<br><br><br><br><br><br>
<button  style="font-size: 20px;margin-left: 110px;font-family: 'Times New Roman', Times, serif;" mat-raised-button>UPDATE</button>
<p style="float: right;margin-top: 5px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
    --------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If You Click Edit Button The Update Button Will Display <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Near Text Box,Type Your New Task And!!!!
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click Update Button!!!
 </p><br><br><br><br><br><br><br><br>
 <h1 style="font-family: 'Times New Roman', Times, serif;margin-left:35px;font-weight: bold;font-size: 35px;">DRAG&nbsp;&&nbsp;DROP</h1>
 <p style="float: right;margin-top:-40px;font-size: 22px;font-family: 'Times New Roman', Times, serif;font-weight: bold;">
    --------- >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drag&Drop Option Is Available for each Box You Can<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Drag And Drop <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The TasK That Depends Upon Your Status!!!!
 </p>
<br><br><br><br>
<br><br><br> <br><br><a [routerLink]="'/home'" ><button style="margin-left:550px;"mat-raised-button>BACK</button></a>
</div>