<div style="height:1700px;"class="container">
    <img  style="margin-left:630px;width:200px;height:120px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKWf8j-SzWhhcvL-ZHC_bPvzPHap8yUaS5DQ&usqp=CAU">
    <h1 style="margin-left:770px;margin-top: -80px;font-size: 35px;font-weight: bold;">Dellaware Technology</h1><br><br><br>
    <div id="ont">
    
    <mat-icon style="float:left;margin-top:4px;margin-right:2px;">account_circle</mat-icon><h1 style="font-size: 25px;font-weight: bold;">Cindrella Joseph</h1>
    <h3 style="font-size: 20px;font-weight: bold;" >Senior HR Executive, Dellaware</h3>
    <h3 style="font-size: 20px;font-weight: bold;">EMP ID : 2000315</h3><br><br><br><br><br>
    </div>
 
 <div  style="margin-left:20px;margin-top: -50px;font-weight: bold;width:1100px" class="container">
    <p style="font-size: 17px;line-height: 23px;font-family: monospace;font-weight: bold;">  
        Dellaware was founded by seven engineers in Pune, Maharashtra, India with an initial capital of $250 in 1981.It was registered as Infosys Consultants Private Limited on 2 July 1981.In 1983, it relocated its office to Bangalore, Karnataka, India.

The company changed its name to Dellaware Technologies Private Limited in April 1992 and to Dellaware Technologies Limited when it became a public limited company in June 1992. It was later renamed to Dellaware Limited in June 2011.

An initial public offering (IPO) was floated in February 1993 with an offer price of ₹95 per share against a book value of ₹20 per share. The IPO was undersubscribed but it was "bailed out" by US investment bank Morgan Stanley, which picked up a 13% equity stake at the offer price.Its shares were listed in June 1993 with trading opening at ₹145 per share.

Infosys shares were listed on the Nasdaq stock exchange in 1999 as American depositary receipts. It became the first Indian company to be listed on Nasdaq. The share price surged to ₹8,100 by 1999 making it the costliest share on the market at the time. At that time, Infosys was among the 20 biggest companies by market capitalization on the Nasdaq.The ADR listing was shifted from Nasdaq to NYSE Euronext to give European investors better access to the company's shares.
        </p>   <br>                 
    <h1 style="font-size: 28px;font-weight: bold;font-family: monospace;"></h1>
  
       <div class="btn">
    <button [routerLink]="'/one'" mat-button style="font-size: 25px;font-weight: bold;font-family: monospace;margin-right: 15px;">Important Shedules To Do<mat-icon>chevron_right</mat-icon></button><br><br>
    <button [routerLink]="'/two'" mat-button style="font-size: 25px;font-weight: bold;font-family: monospace;margin-right: 15px;">Tips To Use Schedule Page<mat-icon>chevron_right</mat-icon></button><br><br>
    <button [routerLink]="'/three'"  mat-button style="font-size: 25px;font-weight: bold;font-family: monospace;margin-right: 17px;">Employee Policy<mat-icon>chevron_right</mat-icon></button><br><br>
    <button [routerLink]="'/four'" mat-button style="font-size: 25px;font-weight: bold;font-family: monospace;">Holidays<mat-icon>chevron_right</mat-icon></button><br><br>
    <button [routerLink]="'/five'" mat-button style="font-size: 25px;font-weight: bold;font-family: monospace;">Employee Directory<mat-icon>chevron_right</mat-icon></button><br>
  </div>
  <img  style="width:470px;height: 320px;margin-left: 550px;margin-top: -320px; "src="https://cmscollege.ac.in/wp-content/uploads/2021/04/30.jpg">
    
   
    <div class="container4">
      <!-- <div id="onnu" class="box"> -->
          <!-- <div class="imgbx"> -->
              <!-- <img  src="https://cmscollege.ac.in/wp-content/uploads/2021/04/30.jpg"> -->
          <!-- </div> -->
      <!-- </div> -->
      <br><br>
      <div id="redu" class="box">
          <div class="imgbx">
              
              <img  src="https://media.istockphoto.com/photos/latin-man-gaming-on-his-pc-during-a-live-stream-picture-id1305224036?b=1&k=20&m=1305224036&s=170667a&w=0&h=PWTdErLi0N_eExJjeILmN7OUlC5_2Eq38zqdQEM4uLE=">
          </div>
      </div>
      <br><br>
     
      <div id="monu" class="box">
          <div class="imgbx">
              <img  src="https://wallpaper.dog/large/10919018.jpg">
          </div>
      </div>
  
      </div>
</div>
<p  style="margin-left:850px;font-size:20px;text-align: center;font-weight: bold;font-family: monospace;margin-top: -200px;line-height: 30px;">www.dellawaretechnology.in
<br>Maharashtra <br>
Since 2003<br><mat-icon style="padding-right: 30px;">facebook</mat-icon><mat-icon style="padding-right: 30px;" > local_post_office</mat-icon><mat-icon style="padding-right: 30px;">sms</mat-icon></p>


</div>
